@media screen and (min-width: 577px) and (max-width: 1200px) {
    .navbar-images .logo {
        width: 40px;
    }

    .navbar-images .logo_line {
        width: 5px;
    }

    .navbar-images .logo_text {
        width: 70px;
    }
    footer {
        margin-top: 10px;
    }

    .container-fluid .row  {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .container-fluid .row .col-lg-4 .card{
        margin-top: 20px;
        width: 120%;
        height: 25%;
        margin-bottom: 20px;
    }

    .container-fluid .row .col-lg-4{
        width: 210px;
        margin-top: 0px;
        margin-left: 40px;
        margin-right: 0px;
    }

    
    .container-fluid .card .card-img-overlay .card-title {
        font-size: 20px;
        margin: 50px 0px 0px 0px;
    }

    .container-fluid .card .card-img-overlay p {
        margin: 0px 0px 0px 10px;
    }
    
}
@media screen and (max-width: 576px) and (min-width: 320px){
    .navbar-images .logo {
        width: 40px;
    }

    .navbar-images .logo_line {
        width: 5px;
    }

    .navbar-images .logo_text {
        width: 70px;
    }

    .navbar .input-group {
        display: none;
    }

    footer {
        margin-top: 10px;
    }

    .container-fluid .row  {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .container-fluid .row .col-lg-4 .card{
        margin-top: 20px;
        width: 190%;
        height: 30%;
        margin-bottom: 20px;
    }

    .container-fluid .row .col-lg-4{
        width: 200px;
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }


    .container-fluid .card .card-img-overlay .card-title {
        font-size: 20px;
        margin: 50px 0px 0px 10px;
    }

    .container-fluid .card .card-img-overlay p {
        margin: 0px 0px 0px 10px;
    }
    
}
.navbar ul li a {
    background-color: #f0ece2;
    padding: 10px;
    font-family:'Montserrat', sans-serif;
}
.navbar ul li a:hover {
    opacity: .7;
    background-color: black;
    color: #f0ece2;
}

.con .vid {
    display: flex;
}

.card .card-img-overlay .card-title {
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    margin: 600px 0px 0px 100px;
    color: #f0ece2;
    text-shadow: 4px 4px black;
}

.card .card-img-overlay a {
    text-decoration: none;
    color: #f0ece2;
    opacity: 0.7;
}

.card .card-img-overlay p {
    margin: 0px 0px 0px 100px;
    color: #f0ece2;
    opacity: 0.7;
    transition: 0.1s;
}

.card .card-img-overlay p:hover {
    opacity: 1;
    margin-right: 10px;
    transition: 0.1s;
}

.row .col-lg-4 .card{
    width: 400px;
    height: 30%;
    margin-bottom: 50px;
    background-color: #f0ece2;
}

.row .col-lg-4 {
    width: 400px;
    margin-left: 50px;
}

.row {
    margin-top: 50px;
    margin-left: 50px;
    margin-bottom: 50px;
}

.logo {
    width: 100px;
}

.logo_line {
    width: 10px;
}

.logo_text {
    width: 150px;
}