@media screen and (max-width: 576px) {
    .navbar-images .logo {
        width: 40px;
    }

    .navbar-images .logo_line {
        width: 5px;
    }

    .navbar-images .logo_text {
        width: 70px;
    }

    .navbar .input-group {
        display: none;
    }
    .container .row .title h1 {
        font-size: 20px;
    }
    .container .row .image img{
        width:95%;
        height:100%;
    } 

    .container .row .content p {
        padding: 10px;
    }

    .container .row .parag p {
        margin-bottom: 50px;
        padding: 0px 12px;
    }
}

.navbar ul li a {
    background-color: #f0ece2;
    padding: 10px;
    font-family:'Montserrat', sans-serif;
}
.navbar ul li a:hover {
    opacity: .7;
    background-color: black;
    color: #f0ece2;
}

.container .back a {
    text-decoration: none;
    color: #f0ece2;
    opacity: 0.7;
}

.container .back p {
    margin: 0px 0px 0px 0px;
    color: #f0ece2;
    opacity: 0.7;
    transition: 0.1s;
}

.container .back p:hover {
    opacity: 1;
    margin-right: 10px;
    transition: 0.1s;
}

.row .title h1{
    font-size: 70px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin: 50px 0px 10px 0px;
}

.row .title p {
    color: #f0ece2;
    margin: 0px 0px 50px 0px;
}

.row .content {
    padding: 0px 200px;
    color: white;
    font-size: 20px;
}

.row .image img{
    width:70%;
    height:100%;
}

.row .parag p {
    margin-bottom: 50px;
    padding: 0px 200px;
}

.logo {
    width: 100px;
}

.logo_line {
    width: 10px;
}

.logo_text {
    width: 150px;
}